:root {
  --text-color: #ffffff;
  --secondary-text-color: #ffffff99;
  --btn-color: #1987FF;
  --secondary-btn-color: #19CCFF;
  --secondary-color: #495795;
  --secondary-font-family: 'SF-Pro-Text_Regular';
  --font-family-SF-Regular: 'SF-Pro-Display_Regular';
}
